<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>MemberController</servlet-name>
    <servlet-class>com.vijitha.controller.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberController</servlet-name>
    <url-pattern>/MemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.vijitha.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>com.vijitha.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookController</servlet-name>
    <servlet-class>com.vijitha.controller.BookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookController</servlet-name>
    <url-pattern>/BookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookIssueController</servlet-name>
    <servlet-class>com.vijitha.controller.BookIssueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookIssueController</servlet-name>
    <url-pattern>/BookIssueController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookReturnController</servlet-name>
    <servlet-class>com.vijitha.controller.BookReturnController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookReturnController</servlet-name>
    <url-pattern>/BookReturnController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookRequestController</servlet-name>
    <servlet-class>com.vijitha.controller.BookRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookRequestController</servlet-name>
    <url-pattern>/BookRequestController</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>